.filters-container{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
}

.input-field, .select-field{
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.5s ease;
}

.input-field{
    width: 200px;
    background: url("../../img/iconLupa.png") 8px center no-repeat;
    background-color: #fff;
    padding-left: 32px;
    background-size: 16px;
}

.select-field{
    width: 150px;
    cursor: pointer;
}

.input-field:focus, .select-field:focus{
    border-color: rgb(1, 177, 1);
    color: rgb(1, 151, 1);
}

@media (max-width: 768px) {
    .filters-container {
        justify-content: center; /* Centraliza os filtros */
    }

    .input-field {
        width: 100%; /* Ocupa toda a largura disponível */
        max-width: 300px;
    }

    .select-field {
        width: 100%;
        max-width: 200px;
    }
}

/* 📱 Responsividade para telas muito pequenas */
@media (max-width: 480px) {
    .filters-container {
        flex-direction: column; /* Empilha os filtros verticalmente */
        align-items: stretch;
    }

    .input-field, .select-field {
        width: 100%;
    }
}